[Unit]
Description=Decker Engine.

[Service]
Type=forking
Restart=always
RestartSec=3
Environment="DECKER_BASE_URL=/decker"
ExecStart=/usr/sbin/daemonize \
  -c /var/local/decker \
  -p /var/local/decker/decker-engine.pid \
  /home/henrik/.local/bin/decker-engine 

[Install]
WantedBy=multi-user.target
