[Unit]
Description=Decker Engine.

[Service]
Type=forking
Restart=always
RestartSec=3
ExecStart=/usr/sbin/daemonize -c /home/henrik/workspace/decker-engine -p /home/henrik/workspace/decker-engine/decker-engine.pid /home/henrik/.local/bin/decker-engine 

[Install]
WantedBy=multi-user.target
